@{ 
    ViewBag.Title = "Home";
}

<h2>Welcome to TechJobs: A site for viewing job opennings!</h2>
<p><strong>View jobs by:</strong></p>
<ul>
    @foreach (KeyValuePair<string, string> action in ViewBag.actions)
    {
        <li><a href="/@action.Key">@action.Value</a></li>
    }
</ul>

